@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@page
@model IndexModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Configurator"];
    ViewData["SecondTitle"] = Localizer["Configuration and setup"];

}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config.css" asp-append-version="true" />
}

@section Breadcrumb {
    <li>@ViewBag.Title</li>
}

<div class="mtd-desk">
    <div class="mtd-desk-panel"></div>
    <div class="mtd-config-place">

        <div class="d-flex flex-wrap justify-content-center">
            <div mtd-data-url="/config/formeditor" class="card m-2" style="width: 16rem; cursor: pointer;">
                <div class="card-img-top card-img-ripple" style="background-color: darkslateblue">
                    <div class="position-relative" style="height: 8em; overflow: hidden">
                        <div class="position-absolute" style="font-size: 7.5em; margin-top:-25px; left: 25px; opacity: 0.5; color: white">
                            <i class="bi bi-file-earmark-richtext"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Localizer["Forms"]</h5>
                    <div class="card-text small">
                        <span>@Localizer["Templates setting"]</span>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap justify-content-center">
                <div mtd-data-url="/config/interface" class="card m-2" style="width: 16rem; cursor: pointer;">
                    <div class="card-img-top card-img-ripple" style="background-color: darkslateblue">
                        <div class="position-relative" style="height: 8em; overflow: hidden">
                            <div class="position-absolute" style="font-size: 7em; margin-top:-20px; left: 25px; opacity: 0.5; color: white">
                                <i class="bi bi-layout-wtf"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Localizer["Interface"]</h5>
                        <div class="card-text small">
                            <span>@Localizer["Display elements"]</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap justify-content-center">
                <div mtd-data-url="/config/approval" class="card m-2" style="width: 16rem; cursor: pointer;">
                    <div class="card-img-top card-img-ripple" style="background-color: darkslateblue">
                        <div class="position-relative" style="height: 8em; overflow: hidden">
                            <div class="position-absolute" style="font-size: 8.5em; margin-top:-35px; left: 25px; opacity: 0.5; color: white">
                                <i class="bi bi-person-check-fill"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Localizer["Approvals"]</h5>
                        <div class="card-text small">
                            <span>@Localizer["Approval flows"]</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap justify-content-center">
                <div mtd-data-url="/config/inboxmediator" class="card m-2" style="width: 16rem; cursor: pointer;">
                    <div class="card-img-top card-img-ripple" style="background-color: darkslateblue">
                        <div class="position-relative" style="height: 8em; overflow: hidden">
                            <div class="position-absolute" style="font-size: 8.5em; margin-top:-35px; left: 25px; opacity: 0.5; color: white">
                                <i class="bi bi-inboxes-fill"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Localizer["Inbox Mediator"]</h5>
                        <div class="card-text small">
                            <span>@Localizer["Email Receivers of order messages"]</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="d-flex flex-wrap justify-content-center">
                <div mtd-data-url="/config/emailloader" class="card m-2" style="width: 16rem; cursor: pointer;">
                    <div class="card-img-top card-img-ripple" style="background-color: darkslateblue">
                        <div class="position-relative" style="height: 8em; overflow: hidden">
                            <div class="position-absolute" style="font-size: 8.5em; margin-top:-35px; left: 25px; opacity: 0.5; color: white">
                                <i class="bi bi-envelope-arrow-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Localizer["Email Loader"]</h5>
                        <div class="card-text small">
                            <span>@Localizer["Importing messages into forms"]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/mtd-ordermaker/config/js/mtd-config.js" asp-append-version="true"></script>
}