@* Translate *@

@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["User registration"];
    ViewData["SecondTitle"] = Localizer["Rules for public users"];
    var pageUrl = $"{Request.Scheme}://{Request.Host}/identity/requests/createformrequest";
    var pageRaw = Html.Raw($"<a href='{pageUrl}' target='_blank'>{pageUrl}</a>");
    var apiUrl = $"{Request.Scheme}://{Request.Host}/api/requests/create/form?userName=[text]&formId=[guid]&email=[email@address]&token=[stringBase64]";
}

@section Head {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/identity/css/registration.css" asp-append-version="true" />
}

@section Breadcrumb {
    <li><a href="~/identity/users">@Localizer["Users"]</a></li>
    <li>@ViewBag.Title</li>
}
<div class="mtd-desk">
    <div class="mtd-desk-panel">
        <div style="padding-left: 4px; z-index: 3; position:fixed">
            <div style="height: 56px;">
                <button data-mtd-clicker-by="clickerId" class="mtd-fab mdc-fab" aria-label="Create" type="button">
                    <div class="mdc-fab__ripple"></div>
                    <span class="material-icons mdc-fab__icon">save</span>
                    <span class="mdc-fab__label mtd-main-display-none">@Localizer["Save"]</span>
                </button>
            </div>
            <div style="padding-top: 8px; padding-left: 8px">
                <button class="mtd-fab mdc-fab mdc-fab--mini" aria-label="List" mtd-data-url="/identity/users">
                    <div class="mdc-fab__ripple"></div>
                    <span class="mdc-fab__icon material-icons">cancel</span>
                    <span class="mdc-fab__label mtd-main-display-none">@Localizer["Cancel"]</span>
                </button>
            </div>
        </div>
    </div>

    <div class="pb-5">
        <form data-mtd-form method="post" asp-action="~/identity/users/registration">

            <div class="container">
                <div class="mtd-settings-block">
                    <div class="mtd-settings-item">
                        <div class="mtd-settings-item-header">
                            <div class="mtd-settings-item-icon">
                                <i class="bi bi-card-heading h4"></i>
                            </div>
                            <div class="mtd-settings-item-content">
                                <div class="mtd-settings-item-name">Регистрация пользователя на странице запросов</div>
                            </div>
                        </div>
                    </div>
                    <div class="mtd-settings-panel">
                        <div class="form-check form-switch noselect">
                            <input class="form-check-input" type="checkbox" role="switch" id="registerByPage" name="registerByPage" @Model.ParamsModel.RegisterByPage>
                            <label class="form-check-label" for="registerByPage">Включить доступ через страницу запроса</label>
                        </div>
                        <div class="mtd-settings-helper">
                            Этот параметр разрешает автоматическую решистрацию пользовтаелей на странице @pageRaw
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="mtd-settings-block">
                    <div class="mtd-settings-item">
                        <div class="mtd-settings-item-header">
                            <div class="mtd-settings-item-icon">
                                <i class="bi bi-key h4"></i>
                            </div>
                            <div class="mtd-settings-item-content">
                                <div class="mtd-settings-item-name">Регистрация пользователя через API</div>
                            </div>
                        </div>
                    </div>
                    <div class="mtd-settings-panel">

                        <div class="w-100">
                            @await Component.InvokeAsync(typeof(MTDTextField), new MTDTextFieldTags
                       {
                           Id = "apiKey",
                           Name = "registerAPIKey",
                           Label = "API Key",
                           LabelLocalized = true,
                           Required = true,
                           MTDTexFieldView = MTDTextFieldViews.Outlined,
                           IconTrailing = "bi bi-magic",
                           IconTrailingScript = "GenerateStringBase64Token()",
                           Value = Model.ParamsModel.RegisterAPIKey
                       })
                        </div>
                        <div class="form-check form-switch noselect pt-3 pb-2" style="min-width: 290px;">
                            <input class="form-check-input" type="checkbox" role="switch" id="registerByAPI" name="registerByAPI" @Model.ParamsModel.RegisterByAPI>
                            <label class="form-check-label" for="registerByAPI">Разрешить запросы через API</label>
                        </div>

                        <div class="mtd-settings-helper">
                            Если нужно предоставить возможность автоматической регистрации пользователей прямо с сайта компании, то можно использовать эти настройки.
                            <div class="small">Шаблон GET запроса к API портала: @apiUrl </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="mtd-settings-block">
                    <div class="mtd-settings-item">
                        <div class="mtd-settings-item-header">
                            <div class="mtd-settings-item-icon">
                                <i class="bi bi-shield-exclamation h4"></i>
                            </div>
                            <div class="mtd-settings-item-content">
                                <div class="mtd-settings-item-name">Политика уровня доступа для пользователя по умолчанию</div>
                            </div>
                        </div>
                    </div>
                    <div class="mtd-settings-panel">
                        @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
                   {
                       Id = "policyId",
                       Name = "RegisterUserPolicyId",
                       Items = Model.UserPolicies,
                       Label = "Policy",
                       LabelLocalized = true,                       
                       MTDSelectListView = MTDSelectListViews.Outlined
                   })

                        <div class="mtd-settings-helper">
                            Указанная политика уровня доступа будет автоматически присваеватся для пользователей, которые будут регестрироваться через страницу запросов или API.
                        </div>
                    </div>
                </div>
            </div>



            <div class="container">
                <div class="mtd-settings-block">
                    <div class="mtd-settings-item">
                        <div class="mtd-settings-item-header">
                            <div class="mtd-settings-item-icon">
                                <i class="bi bi-people h4"></i>
                            </div>
                            <div class="mtd-settings-item-content">
                                <div class="mtd-settings-item-name">Группа пользователя по умолчанию</div>
                            </div>
                        </div>
                    </div>
                    <div class="mtd-settings-panel">
                        @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
                   {
                       Id = "groupId",
                       Name = "RegisterUserGroupId",
                       Items = Model.UserGroups,
                       Label = "Group",
                       LabelLocalized = true,
                       MTDSelectListView = MTDSelectListViews.Outlined
                   })

                        <div class="mtd-settings-helper">
                            Указанная группа будет автоматически присваеватся для пользователей, которые будут регестрироваться через страницу запросов или API.
                        </div>
                    </div>
                </div>
            </div>
            <button class="d-none" id="clickerId" data-mtd-clicker type="button">SEND</button>
        </form>
    </div>


</div>




@section Scripts {
    <script src="~/lib/mtd-ordermaker/identity/js/registration.js" asp-append-version="true"></script>
}

